<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
   <title>Update Barista</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
</head>

<body>
   <div class="container">
      <h1>Update Barista</h1>
      <form th:action="@{/save}" method="post">
         <input type="text" class="form-control mb-4 col-4" placeholder="Masukkan new id" th:field="${barista.id}">
         <input type="text" class="form-control mb-4 col-4" placeholder="Masukkan new name" th:field="${barista.name}">
         <input type="text" class="form-control mb-4 col-4" placeholder="Masukkan new age" th:field="${barista.age}">
         <input type="text" class="form-control mb-4 col-4" placeholder="Masukkan new gender"
            th:field="${barista.gender}">
         <input type="text" class="form-control mb-4 col-4" placeholder="Masukkan new email "
            th:field="${barista.email}">
         <button type="submit" class="btn btn-success col-2">Save Changes</button>
      </form>
   </div>
</body>

</html>